<h2>Patient List</h2>
<table class="table table-striped">
     <thead>
        <tr>
            <th>Id</th> 
            <th>Sap Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>emailid</th>
            <th>Medical History</th>
            <th>Prescription</th>
            <th>Actions</th>
        </tr>
     </thead>
     <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.Id}}</td>
            <td>{{employee.sapid}}</td>
            <td>{{employee.firstname}}</td>
            <td>{{employee.lastname}}</td>
            <td>{{employee.emailid}}</td>
            <td>{{employee.medicalhis}}</td>
            <td>{{employee.prescription}}</td>
            <td>
                <button (click)= "updateEmployee(employee.Id)" class="btn btn-info">Update</button>            
            </td>
           

            
           





        </tr>
     </tbody>

</table>
